* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  color: #000;
  background-color: #f9c265;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  display: flex;
  gap: 10px;
  list-style-type: none;


}

nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 20px;
}

nav .logo {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 400;
}

nav .login a {
  color: #000;
  margin-left: auto;
  margin-right: 15px;
  text-decoration: none;

}

nav .login #signup {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 5px;
  color: #fff;
  background-color: #000;
}


header {
  background-color: #f9c265;
  margin-bottom: 50px;
}

header .text {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

header h1 {
  font-size: 50px;
  padding: 100px;
  width: 40%;
}

header h1 span {
  border: 1px solid #000;
  border-radius: 30px;
  background: #000;
  color: #f4b350;
  padding: 5px;
  font-style: italic;
}


header .speed {
  padding: 100px;
  width: 50%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

header .enroll {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 5px;
  color: #000;
  background-color: #f9c265;
  text-decoration: none;
  width: 8%;
  height: 40px;
  margin: 118px 90px ;
}

header img {
  width: 50%;
  margin-left: 25%;
}


main .section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 150px;
  font-size: 25px;

}

main .section1 p {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
.section1 div{
  margin-left: 170px;
}

.section2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #fdf6e4;
  justify-content: center;
  margin-top: 50px;
}

.section2 .topic {
  width: 39%;
  padding: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section2 .topic h1 {
  font-size: 50px;
}

.section2 .topic span {
  font-style: italic;
  color: #000;
  border: 1px solid #000;
  border-radius: 30px;
  background: #f4b350;
  padding: 5px;
}

.section2 .topic p {
  font-size: 20px;
}

.section2 img {
  width: 100%;
}
.section3 {
  width: 100%;
  background: #ded3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section3 .div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section3 .features {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 45px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin: 50px;
  width: 60%;
}

.section3 .features h1 {
  font-size: 40px;
  width: 41%;
  margin-bottom: 7%;
}

.section3 .features span {
  color: #f9c265;
  font-style: italic;
}

.section3 .features a {
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px;
  background-color: #f4b350;
  color: #000;
  width: 31%;
  margin-right: 10%;
}

.section3 #certificate {
  width: 25%;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px;
  color: #000;
  font-size: 20px;
  margin: 50px;
  background-color: #fff;
}

.section3 #certificate i {
  color: #f9c265;
  font-size: 100px;
}

.section3 #certificate p {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
}

.section3 .div2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px 100px;
}

.section3 #instructor {
  width: 25%;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px;
  color: #000;
  font-size: 20px;
  margin: 50px;
  background-color: #fff;
}

.section3 #instructor i {
  color: #f9c265;
  font-size: 100px;
}

.section3 #instructor p {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
}

.section3 #support {
  width: 25%;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px;
  color: #000;
  font-size: 20px;
  margin: 50px;
  background-color: #fff;
}

.section3 #support i {
  color: #f9c265;
  font-size: 100px;
}

.section3 #support p {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
}

.section3 #video {
  width: 25%;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px;
  color: #000;
  font-size: 20px;
  margin: 50px;
  background-color: #fff;
}

.section3 #video i {
  color: #f9c265;
  font-size: 100px;
}

.section3 #video p {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
}

.section3 #bold {
  font-weight: 900;
}

.section4 {
  width: 100%;
  background: #000;
  padding: 80px;
}

.section4 h1 {
  color: #fff;
  font-size: 45px;
  text-align: center;
  padding: 20px;
}

.section4 span {
  font-style: italic;
  border: 1px solid #f4b350;
  color: #f4b350;
  border-radius: 30px;
  background: #000;
  padding: 5px;
}

.section4 .courses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.section4 .course1,
.course2,
.course3 {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 35px 10px;
}

.section4 .course1 a,
.course2 a,
.course3 a {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 5px;
}

.section4 .course1 a:hover,
.course2 a:hover,
.course3 a:hover {
  background-color: #f4b350;
  color: #000;
}

.section4 .course1 p,
.course2 p,
.course3 p {
  margin-bottom: 15px;
}


.section5 {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px
}

.section5 .startlearn {
  display: flex;
  flex-direction: column;
  width: 275px;
  gap: 30px;
}

.section5 .startlearn h1 {
  font-size: 40px;

}

.section5 span {
  font-style: italic;
  border: 1px solid #000;
  color: #000;
  border-radius: 30px;
  background: #f4b350;
  padding: 5px;

}

.section5 .startlearn p {
  color: #5c5c5c;
}

.section5 .circle {
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: #f4b350;

}

.section5 .circle i {
  background: #000;
  border-radius: 100%;
}

.section5 .learn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section5 .line {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.section6 .ready img{
  width: 100%;
}

.section6 {
  width: 100%;
  background-color: #fdf6e4;
}

.section6 .ready {
  width: 70%;
  background-color: #f9c265;
  margin: auto;
  border-radius: 30px;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 140px;
}

.section6 .ready .readydiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section6 .ready .readydiv span {
  font-style: italic;
}

.section6 .ready .readydiv p {
  color: #5c5c5c;
}

.section6 .ready .readydiv a {
  text-decoration: none;
  color: #f9c265;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px;
  width: 100px;
}


.section6 .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section6 .app h1 {
  font-size: 40px;
  width: 24%;
}

.section6 .app h1 span {
  font-style: italic;
  border: 1px solid #000;
  color: #000;
  border-radius: 30px;
  background: #f4b350;
  padding: 5px;
}

.section6 .app .mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}

.section6 .app .mobile img {
  width: 140px;
  height: 50px;
}

footer {
  background: #fdf6e4;
  width: 100%;

}

footer .bigdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  border: #000 1px solid;
  border-radius: 30px 30px 0px 0px;
  width: 70%;
  margin: auto;
  background: #000;
  color: #fff;
  gap: 50px; 
   justify-content: space-around;
}

footer .bigdiv .leftfooter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

footer .bigdiv .menufooter {
  display: flex;
  flex-direction: row;
  gap: 75px;
  width: 30%;
}

footer .bigdiv .menufooter .Company,
.Resources,
.Product {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

footer .bigdiv .menufooter .Company a,
.Resources a,
.Product a {
  text-decoration: none;
  color: #acacac;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

footer .bigdiv .menufooter .Company li,
.Resources li,
.Product li {
  list-style-type: none;
}

/* التابلت */
@media screen and (max-width: 1024px) {
  nav {
    align-items: center;
    gap: 10px;
  }

  header .text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header h1,
  header .speed {
    width: 100%;
    padding: 20px;
  }

  header .speed a {
    margin: 20px ;
  }

  header img {
    width: 90%;
    margin: 20px auto;
  }

  .section1 {
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    margin-left: 250px;
  }


  .section2 {
    flex-direction: row;
    width: 100%;
    height: auto;
    
  }

  .section2 .topic{
    margin-top:70px ;
  }

  .section2 .topic {
    width: 90%;
    padding: 20px;
  }

  .section3  {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
    flex-wrap: wrap;
  }
  .section3 .features{
    width: 100%;
    padding: 20px;
  }
 footer .bigdiv{
  width: 90%;
  }
}

/* الموبايل */
  @media screen and (max-width: 450px) {

    nav {
      display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

  

  nav .logo{
    margin-right: 35px;
  }

  nav ul {
      flex-direction: column;
      gap: 20px;
      width: 50%;
  }

  nav .login {
      width: 100%;;
  }

 


  /* section3 */

  .section3 .features {
      width: 80%;
      margin-right: 100px;

  }

  .section3 .features a{
    margin-left: 25%;

  }
  
    .section3 .div1,
    .section3 .div2 {
      flex-direction: column;
      margin: 0; 
    }
  
    .section3 .features,
    .section3 #certificate,
    .section3 #instructor,
    .section3 #support,
    .section3 #video {
      width: 90%; 
      margin: 10px auto; 
      padding: 20px; 
    }
  
    .section3 .features h1 {
      width: 100%;
      font-size: 24px;
    }
  
    .section3 .features a {
      width: auto;
      margin-right: 0;
    }
  
  /* section4 */
  .section4 .courses {
      flex-direction: column;
      gap: 20px;
      width: 100%;
  }


}
